* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
/* body {
    background-color: red
} */




/* <!-- main img scarpe su 3 livelli --> */
section {
    height: 100vh;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

