* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
/* body {
    background-color: red
} */


/* scroll-behavior: smooth :regola da applicare ad html */
html {
    scroll-behavior: smooth;
}


/* <!-- intestazione con numeri --> */
header {
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.barcerchi {
    position: fixed;
    right: 0;
    z-index: 2;
}

.barcerchi ul, 
.barcerchi li {
    display: inline-block;
    height: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.barcerchi li:last-child {
    margin-right: 0px;
}

.numberUno,
.numberDue,
.numberTre {
    display: inline-block;
    background-color: white;
    border-radius: 80%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 4px #00000050;
}


/* effetto hover */
.NumberUno:hover,
.NumberDue:hover,
.NumberTre:hover {
    background-color: blanchedalmond;
}




















/* <!-- main img scarpe su 3 livelli --> */
section {
    height: 100vh;
    position: relative;
    padding: 50px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.textyellow, .textgreen {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    color: yellow
}

.textgreen {
    color: green;
}

.boxcolori, .red main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



